{% extends 'main.html' %}


{% block content %}
<h1> your results</h1>



<!-- <table>
    <thead>
        <tr>

            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>

            <td><a href="{% url 'project' project.id%}">{{project.title}}</a></td>
            <td>{{project.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->

<hr>

<p> is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not o
    is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not o
</p>

{% endblock content %}